{% load socialaccount %}
{# Load the tag library #}
{% load bootstrap4 %}
{% load static %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<!DOCTYPE html>
<html>
  	<head>
  	</head>
  	<body>

    	{% load static %}

    	<!--Navbar-->
        {% include "navbar.html" %}  
    	<!--CTA-->

 		<!--Products-->
         <div class="container py-3">
            <h2>Products</h2>
            <hr>
            <br>
             <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3 pb-4">
                      <div class="card h-100" style="border:none">
                        <img class="rounded-circle" src="{{ user.socialaccount_set.all.0.get_avatar_url }}" style="max-width: 2em; margin-right: 10px;"></img>
                        <div class="card-body">
                              <h5 class="card-title">Jaybird X3</h5>
                            <p class="card-text text-muted" style="font-size:12px">Wireless Earphones</p>
                            <p class="card-text">Sports earbuds with a secure fit for athletic performance</p>
                            <a href="#" class="btn btn-warning">Buy now</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>

  	</body>
</html>